@font-face {
    font-family: 'icomoon';
    src: url('icomoon.eot');
    src: url('icomoon.eot') format('embedded-opentype'),
    url('icomoon.ttf') format('truetype'),
    url('icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-battery:before {
    content: "\e932";
}

.icon-cash:before {
    content: "\e933";
}

.icon-sparrow:before {
    content: "\e931";
}

.icon-slide-o:before {
    content: "\e92f";
}

.icon-slide:before {
    content: "\e930";
}

.icon-grid-2:before {
    content: "\e92d";
}

.icon-grid-1:before {
    content: "\e92e";
}

.icon-volume-on:before {
    content: "\e92b";
}

.icon-volume-off:before {
    content: "\e92c";
}

.icon-energy:before {
    content: "\e92a";
}

.icon-profile:before {
    content: "\e928";
}

.icon-star:before {
    content: "\e929";
}

.icon-wallet:before {
    content: "\e927";
}

.icon-warning:before {
    content: "\e926";
}

.icon-copy:before {
    content: "\e925";
}

.icon-ruble:before {
    content: "\e924";
}

.icon-close:before {
    content: "\e923";
}

.icon-file:before {
    content: "\e922";
}

.icon-opened:before {
    content: "\e920";
}

.icon-closed:before {
    content: "\e921";
}

.icon-clock:before {
    content: "\e91f";
}

.icon-dots:before {
    content: "\e91e";
}

.icon-gift:before {
    content: "\e91c";
}

.icon-plus:before {
    content: "\e91d";
}

.icon-check:before {
    content: "\e91b";
}

.icon-right:before {
    content: "\e919";
}

.icon-left:before {
    content: "\e91a";
}

.icon-pack:before {
    content: "\e918";
}

.icon-p06:before {
    content: "\e912";
}

.icon-p05:before {
    content: "\e913";
}

.icon-p04:before {
    content: "\e914";
}

.icon-p03:before {
    content: "\e915";
}

.icon-p02:before {
    content: "\e916";
}

.icon-p01:before {
    content: "\e917";
}

.icon-info:before {
    content: "\e910";
}

.icon-steam:before {
    content: "\e911";
}

.icon-vkontakte:before {
    content: "\e900";
}

.icon-n09:before {
    content: "\e901";
}

.icon-n06:before {
    content: "\e902";
}

.icon-n08:before {
    content: "\e903";
}

.icon-n04:before {
    content: "\e904";
}

.icon-n03:before {
    content: "\e905";
}

.icon-n02:before {
    content: "\e906";
}

.icon-n10:before {
    content: "\e907";
}

.icon-n07:before {
    content: "\e908";
}

.icon-n05:before {
    content: "\e909";
}

.icon-n01:before {
    content: "\e90a";
}

.icon-messages:before {
    content: "\e90b";
}

.icon-notify:before {
    content: "\e90c";
}

.icon-link:before {
    content: "\e90d";
}

.icon-facebook:before {
    content: "\e90e";
}

.icon-down:before {
    content: "\e90f";
}
