{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CS:GO cases{% endblock %}</title>
    {#    <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/2.1.1/angular-toastr.min.css" rel="stylesheet">#}
    {#    <link href="https://cdnjs.cloudflare.com/ajax/libs/spinkit/1.2.5/spinners/3-wave.min.css" rel="stylesheet">#}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/fixes.css' %}" rel="stylesheet">
    <link href="{% static 'css/roulette.css' %}" rel="stylesheet">
    <link href="{% static 'css/snackbar.css' %}" rel="stylesheet">
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'js/snackbar.js' %}"></script>
    <script src="{% static 'js/roulette.js' %}"></script>
    <script src="{% static 'js/actions.js' %}"></script>
    <script src="{% static 'js/profile.js' %}"></script>
</head>
<body>
{% include "main/sidebar.html" %}
<div class="page">
    {% block main %}{% endblock %}
</div>
</body>
</html>
