{% extends "main/base.html" %}
{% block title %}{{ case.name }}{% endblock %}
{% block main %}
    <div class="page--title">
        <span>{{ case.name }}</span>
    </div>
    {% include "main/roulette.html" %}
    <div class="page--title">
        <span><i>Вероятный</i> дроп из кейса</span>
    </div>
    <div class="contracts no-bg">
        <div class="ng-scope">
            <div class="contracts--choose">
                <div class="contracts--choose-grid">
                    <center>
                        {% for item in case.base_items.all %}
                            <div class="contracts--choose-item">
                                <a class="contracts--weapon {{ item.rarity_class }}">
                                <span class="contracts--weapon-photo">
                                        <img src="{{ item.image }}">
                                </span>
                                    <span class="contracts--weapon-title">{{ item.name }}</span>
                                    <span class="contracts--weapon-type">{{ item.category }}</span>
                                </a>
                            </div>
                        {% endfor %}
                    </center>
                </div>
            </div>
        </div>
    </div>
{% endblock %}