{% extends "main/base.html" %}
{% block main %}
    {% if wins.count > 0 %}
        <div class="ng-scope">
            <div class="page--title">
                <span><i>Live</i></span>
            </div>
            <div class="live">
                {% for win in wins %}
                    <div class="live--item">
                        <div class="live--photo">
                            <img src="{{ win.item.base.image }}">
                        </div>
                        <a class="live--avatar"
                           style="background-image: url({{ win.steam_user.avatarmedium }});"
                           href="/profile/{{ win.steam_user.id }}"></a>
                        <a class="live--title ng-binding"
                           href="/profile/{{ win.steam_user.id }}">{{ win.steam_user.get_full_name }}</a>
                        <div class="live--type ng-binding">{{ win.item.market_name }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% for category in categories %}
        {% if category.cases.count > 0 %}
            <div class="page--title">
                <span><i>{{ category.name }}</i> кейсы</span>
            </div>
        {% endif %}
        {% if category.exclusive %}
            <div class="exclusive">
            <div class="row">
                {% for case in category.cases.all %}
                    {% if case.active %}
                        <div class="col-md-6 col-xlg-4">
                    {% else %}
                        <div class="col-md-6 col-xlg-4 case-disabled">
                    {% endif %}
                <a class="exclusive--item"
                   href="{% url 'open-case' case.id %}"
                   style="background-image: url(http://csgo-happy.ru/assets/770300ec/img/exclusive--01-b.png)"
                >
                        <span class="exclusive--photo">
                            <img src="{{ MEDIA_URL }}{{ case.image }}">
                        </span>
                    <span class="exclusive--title">{{ case.name }}</span>
                    <span class="exclusive--desc">Кейс</span>
                    <span class="exclusive--price">{{ case.cost }}₽</span>
                </a>
                </div>
                {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="casegrid">
            {% for case in category.cases.all %}
                {% if case.active %}
                    <div class="casegrid--item ng-scope">
                {% else %}
                    <div class="casegrid--item ng-scope case-disabled">
                {% endif %}
            <a class="case" href="/case/{{ case.id }}">
                            <span class="case--photo">
                                <img src="{{ MEDIA_URL }}{{ case.image }}">
                            </span>
                <span class="case--name ng-binding">{{ case.name }}</span>
                <span class="case--price ng-binding ng-scope">{{ case.cost }} ₽</span>
            </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}
