{% extends "main/base.html" %}
{% block main %}
    <div class="ng-scope">
        {% if request.user == user %}
            <div class="page--title ng-scope"><span><i>Личный</i> кабинет</span></div>
        {% else %}
            <div class="page--title ng-scope ng-hide"><span>Профиль</span></div>
        {% endif %}
        <div class="profile-header-container">
            <div class="profile-header-img">
                <img class="img-circle"
                     src="{{ user.avatarfull }}"/>
                <div class="rank-label-container">
                    <span class="label label-default rank-label">{{ user.personaname }}</span>
                </div>
            </div>
        </div>

                <center>
       	<div class="wrapper">
            <div class="row">
                    <div class="counter col_third">
                        <i class="fa fa-code fa-2x"></i>
                        <h2 class="timer count-title count-number" data-to="{{ user.items_won.count }}"
                            data-speed="1500"></h2>
                        <p class="count-text ">Кейсов открыто</p>
                    </div>
                    <div class="counter col_third">
                        <i class="fa fa-coffee fa-2x"></i>
                        <h2 class="timer count-title count-number" data-to="{{ user.days_joined }}" data-speed="1500">
                            +</h2>
                        <p class="count-text ">Дней с нами</p>
                    </div>
                    <div class="counter col_third end">
                        <i class="fa fa-coffee fa-2x"></i>
                        <h2 class="timer count-title count-number" data-to="{{ user.money_won }}" data-speed="1500">
                            +</h2>
                        <p class="count-text ">Выигранно рублей</p>
                    </div>
            </div>
                    </div>

            </center>

        <div class="row">
            <center>
            {% if request.user == user %}
                <div class="col-md-6 col-xlg-4">
                    <div class="cabinet--box">
                        <div class="cabinet--title">Пополнение баланса</div>
                        <div class="cabinet--desc">После оплаты деньги автоматически поступают на ваш баланс
                        </div>
                        <div class="cabinet--code"
                             style="width: 200px;display: inline-block;vertical-align: top;">
                            <form class="ng-pristine ng-valid" action="/profile/invoice" method="POST"
                                  target="_blank">
                                <input name="sum" class="cabinet--code-l" type="text"
                                       placeholder="Введите сумму...">
                                <input name="method" type="hidden" value="card" autocomplete="off">
                                <input name="_csrf" type="hidden"
                                       value="DXugg_6VQ3E1K2aBqrCgqAVfaIJsDoNWeCj2A2cx5E96UyjFGpjDJErQP_8YReFdnO29PqIbaE_gBr72yi1s9A=="
                                       autocomplete="off">
                                <button class="cabinet--code-b" type="submit"><i class="icon-plus"></i>
                                </button>
                            </form>
                        </div>
                        <div class="cabinet--title">Удобная оплата</div>
                        <div class="cabinet--desc">Мы принимаем оплату от таких платежных систем:</div>
                        <div class="cabinet--payments"><i class="icon-p01"></i><i class="icon-p02"></i><i
                                class="icon-p03"></i><i class="icon-p04"></i><i class="icon-p05"></i><i
                                class="icon-p06"></i></div>
                    </div>
                </div>
            {% endif %}
            {% if request.user == user %}
                <div class="col-md-6 col-xlg-4" ng-show="profile.userData.isMe">
                    <div class="cabinet--box">
                        <div class="cabinet--title">Trade-URL</div>
                        <div class="cabinet--desc">Обязательно откройте инвентарь в Steam для получения
                            приза!
                        </div>
                        <div class="cabinet--code">
                            <form method="POST">
                                <input class="cabinet--code-l"
                                        {% if user.trade_link %}
                                       value="{{ user.trade_link }}"
                                        {% endif %}
                                       placeholder="Введите ссылку на обмен"
                                       name="link"
                                       type="text">
                                <button class="cabinet--code-b" type="submit"
                                        onclick="sendLink(); return false;">
                                    <i class="icon-gift"></i>
                                </button>
                            </form>
                        </div>
                        <div class="cabinet--steps">
                            <div class="cabinet--step"><span>1</span>
                                <p>Чтобы узнать вашу ссылку нужно сделать всего два действия, войти на сайте
                                    стима :</p>
                                <p><a href="#">https://steamcommunity.com/login/home/</a></p>
                            </div>
                            <div class="cabinet--step"><span>2</span>
                                <p>После входа в стим, вам нужно перейти по этой ссылке :</p>
                                <p>
                                    <a href="#">http://steamcommunity.com/id/me/tradeoffers/privacy#trade_offer_access_url</a>
                                </p>
                                <p>Внизу вы найдете вашу ссылку на обмен. Далее просто скопируйте ее и
                                    введите в
                                    окно
                                    покупки.</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
                </center>
        </div>
        {% if user.items_won.count > 0 %}
            {% if request.user == user %}
                <div class="page--title"><span><i>Ваши</i> предметы</span></div>
            {% else %}
                <div class="page--title "><span>Предметы</span></div>
            {% endif %}
            <div class="contracts no-bg">
                <div class="row">
                    <div class="contracts--choose">
                        <div class="contracts--choose-grid">
                            <center>
                                {% for win in user.win_set.all %}
                                    <div class="contracts--choose-item">
                                        <div class="have-item--info">
                                            <div id="stateText{{ win.id }}"
                                                 class="have-item--status ng-binding">
                                                {% if win.state == 0 %}
                                                    В ожидании
                                                {% elif win.state == 1 %}
                                                    Отправлено
                                                {% elif win.state == 2 %}
                                                    Продано
                                                {% endif %}
                                            </div>
                                            <div class="have-item--id ng-binding">#{{ win.item.id }}</div>
                                        </div>
                                        <a class="contracts--weapon {{ win.item.base.rarity_class }}">
                                            <span class="contracts--weapon-photo">
                                                <img src="{{ win.item.base.image }}">
                                            </span>
                                            <span class="contracts--weapon-title">{{ win.item.base.name }}</span>
                                            <span class="contracts--weapon-type">{{ win.item.base.category }}</span>
                                        </a>
                                        {% if request.user == user and win.state == 0 %}
                                            <div id="ss{{ win.id }}" class="have-item--btns">
                                                <div class="have-item--btn">
                                                    <a href="#"
                                                       onclick="sendItem({{ win.item.id }}, {{ win.id }}); return false;">Забрать</a>
                                                </div>
                                                <div class="have-item--btn">
                                                    <a href="#"
                                                       onclick="sellItem({{ win.item.id }}, {{ win.id }}); return false;">Продать</a>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </center>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        {% endif %}
    </div>
{% endblock %}