<center>
    <div id="unbox-area">
        <div id="arrow" class="arrow-down"></div>
        <div id="cardList">
            {% for item in roulette_items %}
                <div id="card{{ forloop.counter }}" class="card {{ item.rarity_class }}">
                    <img id="img{{ forloop.counter }}" src="{{ item.image }}">
                </div>
            {% endfor %}
        </div>
    </div>
</center>
{% if request.user.is_authenticated and case.active and request.user.balance >= case.cost %}
    <a id="open-button" class="contracts--start" onclick="openCase({{ case.id }}); return false;">Открыть кейс</a>
{% elif not request.user.is_authenticated %}
    <a id="open-button" class="contracts--start" href="{% url "social:begin" "steam" %}">Авторизируйтесь</a>
{% elif not case.active %}
    <a id="open-button" class="contracts--start case-disabled">Кейс временно недоступен</a>
{% else %}
    <a id="open-button" class="contracts--start">Пополните баланс</a>
{% endif %}
<div id="result_modal" class="modals modals-shown" style="display: none">
    <div class="modals--overlay">
    </div>
    <div class="modals--item is-result modals-shown" id="mResult">
        <div class="m-result">
            <a class="m-support--close" href="#" onclick="$('#result_modal').hide(); return false;">
                <i class="icon-close"></i>
            </a>

            <div id="result_title" class="m-result--title"></div>
            <div id="result_type" class="m-result--type is-c1"></div>
            <div id="result_price" class="m-result--price"></div>
            <div id="result_circle" class="m-result--circle is-c1"></div>
            <div class="m-result--photo">
                <img id="prize_image" src="#">
            </div>
            <div class="m-result--btns">
                <a class="m-result--btn is-inverse" id="sendButton">Забрать</a>
                <a class="m-result--btn is-inverse" id="sellButton">Продать</a>
            </div>
        </div>
    </div>
</div>
