<div class="sidebar ng-scope" id="sidebar" ng-controller="SidebarCtrl as sidebar">
    <a class="sidebar--logo" href="/" ui-sref="index"></a>
    <div class="scroll-wrapper sidebar--in scrollbar-inner" style="position: relative;">
        <div class="sidebar--in scrollbar-inner scroll-content scroll-scrolly_visible"
             style="height: auto; margin-right: -16px; margin-bottom: -16px; max-height: 100vh">
            <div class="sidebar--box ng-isolate-scope smooth-loading loaded">
                {% if not request.user.is_authenticated %}
                    <center>
                        <a href="{% url "social:begin" "steam" %}">
                            <img width="109" height="66"
                                 src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_02.png"
                                 border="0">
                        </a>
                    </center>
                {% else %}
                    <div class="profile ng-hide">
                        <div class="profile--in">
                            <div class="profile--avatar"
                                 style="background-image: url({{ request.user.avatarfull }});"></div>
                            <div class="profile--nick">
                                <div class="profile--nick-l ng-binding">{{ request.user.personaname }}<i
                                        class="icon-down"></i>
                                </div>
                                <ul class="profile--nick-s">
                                    <li><a href="/profile">Мой профиль</a></li>
                                    <li><a href="/logout" target="_self">Выход</a></li>
                                </ul>
                            </div>
                            <div class="profile--f
ield">Кейсов открыто :<span
                                    class="ng-binding">{{ request.user.items_won.count }}</span></div>
                            <div class="profile--field">Баланс :<span id="balance"
                                                                      class="is-green ng-binding">{{ request.user.balance }}р</span>
                            </div>
                        </div>
                        <div class="profile--rank">
                            <div class="profile--rank-p">
                                <div style="width: auto;"></div>
                            </div>
                            <div class="clearfix">
                                <div class="profile--rank-l left ng-binding">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar--link" style="margin-bottom: 15px;">
                        <form method="POST" action="#" id="sidebar-link-form">
                            <input class="sidebar--link-l" name="link"
                                    {% if request.user.trade_link %}
                                   value="{{ request.user.trade_link }}"
                                    {% endif %}
                                   type="text"
                                   oninput="$('#cabinet-link').attr('value', this.value);"
                                   id="sidebar-link"
                                   placeholder="Ссылка на обмен">
                            {% csrf_token %}
                            <button class="sidebar--link-b" type="submit"
                                    onclick="sendLink(); return false;">
                                <i class="icon-link"></i>
                            </button>
                        </form>
                    </div>
                    <div class="clearfix">
                        <div class="profile--rank-l left ng-binding" style="margin: 0 0 5px 9px;">Пополнение баланса
                        </div>
                    </div>
                    <div class="sidebar--link">
                        <form class="ng-pristine ng-valid" action="/profile/invoice"
                              method="POST" target="_blank">
                            <input name="sum" class="cabinet--code-l" type="text" placeholder="Cумма" value="100">
                            <input name="method" type="hidden" value="card" autocomplete="off">
                            <button class="cabinet--code-b" type="submit"><i class="icon-plus"></i></button>
                        </form>
                    </div>
                {% endif %}

                <nav class="navigation">
                    <ul class="navigation--list">
                        <li><a href="/" ui-sref="index"><i class="icon-n01"></i>Главная</a></li>
                        <li><a href="#!/top-users" ui-sref="top-users"><i class="icon-n06"></i>ТОП игроков</a></li>
                        <li><a href="#"><i class="icon-n07"></i>FAQ<i class="icon-down"></i></a>
                            <ul class="is-sub">
                                <li><a href="#!/manual" ui-sref="manual">Инструкция по сайту</a></li>
                            </ul>
                        </li>
                        <li><a href=""><i class="icon-n09"></i>Акции<i class="icon-down"></i></a>
                            <ul class="is-sub">
                                <li><a href="#!/offers" ui-sref="offers">Наши акции</a></li>
                                <li><a class="ng-hide" href="#!/referral" ui-sref="referral"
                                       ng-hide="global.user.isGuest">Реферальная программа</a></li>
                            </ul>
                        </li>
                        <li class="ng-hide" ng-hide="global.user.isGuest">
                            <a href="#!/support" ui-sref="support"><i class="icon-n07"></i>Оповещения</a>
                        </li>
                        <li class="ng-hide" ng-hide="global.user.isGuest">
                            <a class="js-modal-show" href="#mSupport"><i class="icon-n10"></i>Гарантированный приз</a>
                        </li>
                    </ul>
                </nav>
                <div class="sidebar--copyrights">© 2018 Online CS:GO. All Rights Reserved.</div>
            </div>
        </div>
        <div class="scroll-element scroll-x scroll-scrolly_visible">
            <div class="scroll-element_outer">
                <div class="scroll-element_size"></div>
                <div class="scroll-element_track"></div>
                <div class="scroll-bar" style="width: 88px;"></div>
            </div>
        </div>
        <div class="scroll-element scroll-y scroll-scrolly_visible">
            <div class="scroll-element_outer">
                <div class="scroll-element_size"></div>
                <div class="scroll-element_track"></div>
                <div class="scroll-bar" style="top: 0px; height: 31px;"></div>
            </div>
        </div>
    </div>
</div>
