.profile--rank-l i {
    background-size: cover;
}

.disabledButton {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.5 !important;
}

/*
 * Toastr
 */
.toast-bottom-right {
    bottom: 50px;
}

.toastNotification {
    width: 360px;
    height: 94px;
    margin-top: 10px;
    background: url(../img/toast-background.png);
    cursor: pointer;
}

.toastNotification.toast-success {
    background-position: top center;
}

.toastNotification.toast-error {
    background-position: bottom center;
}

.toastNotification .toast-close-button {
    width: 12px;
    height: 12px;
    background: url(../img/toast-close.png);
    top: 12px;
    right: 12px;
    opacity: 0.5;
}

.toastNotification .toast-close-button:hover {
    opacity: 1;
}

.toastNotification__wrapper {
    padding: 17px 20px;
}

.toastNotification .toastNotification__title {
    font-family: "SFUIDisplay", sans-serif;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.toastNotification .toastNotification__message {
    font-size: 14px;
    line-height: 18px;
    opacity: 0.8;
}

.modals-shown {
    display: block;
}

.case--photo img {
    transform: scale(0.95);
    -webkit-transform: translateZ(0) scale(0.95);
    -moz-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);

    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
}

.case:hover {
    opacity: 1;
}

a.case:hover .case--photo img {
    transform: scale(1) rotate(1deg);
    -webkit-transform: translateZ(0) scale(1) rotate(1deg);
    -moz-transform: scale(1) rotate(1deg);
    -o-transform: scale(1) rotate(1deg);
    -ms-transform: scale(1) rotate(1deg);
}

.live {
    height: 160px;
}

.smooth-loading {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.smooth-loading.loaded {
    opacity: 1;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

/**
 * Promocode banner
 */
.promocodeSlider {
    background: url('/img/top_slide_promocode_3.jpg?1');
    width: 1160px;
    height: 500px;
    /* position: relative; */
    overflow: hidden;
}

.promocodeSlider__code {
    font-family: Play, sans-serif;
    font-size: 22px;
    color: #14c8b5;
    width: 295px;
    margin: 288px auto 20px 367px;
    text-align: center;
    user-select: initial;
}

.promocodeSlider__code > img {
    display: inline-block !important;
}

.promocodeSlider__button {
    background: url('/img/promocodeBanner_button.png?2') 0 5px;
    width: 266px;
    height: 106px;
    display: block;
    /*position: absolute;
    bottom: 130px;
    left: 447px;*/
    margin: 0 auto;
}

.promocodeSlider__button:hover {
    background-position: bottom center;
}

.promocodeSlider__comment {
    font-family: "Myriad Pro", sans-serif;
    color: #fff;
    font-size: 17px;
    text-align: center;
}

.promocodeSlider__highlight {
    color: #14c8b5;
}

.promocodeSlider__highlight.promocodeSlider__highlight_error {
    color: #f40000;
}

.promocodeSlider.promocodeSlider_bonus {
    background: url('/img/top_slide_promocode_2.jpg');
}

.promocodeSlider.promocodeSlider_bonus .promocodeSlider__code {
    color: #a91800;
    width: 240px;
    margin: 446px 0 0 510px;
    display: inline-block;
}

.promocodeSlider.promocodeSlider_bonus .promocodeSlider__button {
    background: url('/img/promocodeBanner_button_2.png');
    width: 152px;
    height: 42px;
    display: inline-block;
    margin: 438px 0 0;
    vertical-align: top;
}

.promocodeSlider.promocodeSlider_bonus .promocodeSlider__button:hover {
    opacity: 0.8;
}

.promocodeSliderEn {
    background: url('/img/top_slide_promocode_en.jpg?2');
    width: 1160px;
    height: 500px;
    /* position: relative; */
    overflow: hidden;
}

.promocodeSliderEn__code {
}

.promocodeSliderEn__code > img {
    margin: 234px auto 20px;
}

.promocodeSliderBonus {
    width: 1160px;
    height: 500px;
    cursor: pointer;
    overflow: hidden;
}

.promocodeSliderBonus.promocodeSliderBonus_ru {
    background: url('/img/promocodeSliderBonus_ru.jpg');
}

.promocodeSliderBonus.promocodeSliderBonus_en {
    background: url('/img/promocodeSliderBonus_en.jpg');
}

.promocodeSliderBonus.promocodeSliderBonus_final {
    background: url('/img/promocodeSliderBonus_final.jpg');
}

.promocodeSliderBonus__img {
    margin: 230px auto;
}

.paymentBanner {
    background: url('/img/top_slide_payment.jpg?3');
    width: 1158px;
    height: 500px;
    background-position: -1px -1px;
    /* position: relative; */
    overflow: hidden;
}

input.paymentBanner__submit {
    background: url('/img/top_slide_payment_submit.png');
    width: 211px;
    height: 62px;
    cursor: pointer;
    display: block;
    margin: 40px 0 0 30px;
    border-radius: 10px;
    -webkit-transition: all .2s;
    transition: all .2s;
    outline: none;
    border: 0;
}

.paymentBanner__submit:hover {
    box-shadow: rgba(88, 195, 49, 0.5) 0px 0px 20px 5px;
}

.paymentBanner__button {
    background: url('/img/top_slide_payment_button.png');
    width: 62px;
    height: 62px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.paymentBanner__button:hover {
    box-shadow: rgba(88, 195, 49, 0.3) 0px 0px 12px 3px;
}

.paymentBanner__input {
    font-family: 'Cuprum', sans-serif;
    font-weight: bold;
    color: #3fd4fb;
    font-size: 24px;
    background: transparent;
    border: none;
    height: 40px;
    vertical-align: middle;
}

.paymentBanner__input.paymentBanner__input_promocode {
    width: 200px;
    margin-right: 18px;
}

.paymentBanner__input.paymentBanner__input_payment {
    width: 270px;
}

.paymentBanner__promocodeBlock {
    width: 300px;
    margin: 164px 0 0 450px;
}

.paymentBanner__paymentBlock {
    margin: 77px 0 0 450px;
    width: 500px;
}
