* {
    box-sizing: border-box;
}

#cardList {
    height: 150px;
    max-width: calc(100vw - 500px);
    width: 1200px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.card {
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    width: 150px;
    height: 150px;
}

.card > img {
    width: 150px;
    height: 150px;
    transform: scale(0.95);
    -webkit-transform: translateZ(0) scale(0.95);
    -moz-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);

    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
}

.card > img:hover {
    transform: scale(1) rotate(1deg);
    -webkit-transform: translateZ(0) scale(1) rotate(1deg);
    -moz-transform: scale(1) rotate(1deg);
    -o-transform: scale(1) rotate(1deg);
    -ms-transform: scale(1) rotate(1deg);
}

.contracts--weapon-photo > img {
    transform: scale(0.95);
    -webkit-transform: translateZ(0) scale(0.95);
    -moz-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);

    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
}

.contracts--weapon-photo > img:hover {
    transform: scale(1) rotate(1deg);
    -webkit-transform: translateZ(0) scale(1) rotate(1deg);
    -moz-transform: scale(1) rotate(1deg);
    -o-transform: scale(1) rotate(1deg);
    -ms-transform: scale(1) rotate(1deg);
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid #f00;
}
